{% extends 'base.html.twig' %}

{% block body %}
    {% set notices = app.flashes('notice') %}
    {% set errors = app.flashes('error') %}

    {% if notices %}
        <h1>Внимание:</h1>
        {% for message in notices %}
            <div style="color: green">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if errors %}
        <h1>Произошла ошибка</h1>
        {% for message in errors %}
            <div style="color: red">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>Мои данные</h1>
    <div>
        <b>EMail:</b>
        {{ app.user.email }}
    </div>

    Подключите свои социальные сети для более удобной процедуры авторизации:
    {% include '/add_social_id/ulogin.html.twig' %}

{% endblock %}

{% block title %}Мой профайл{% endblock %}
